form {
  margin: 36px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

label {
  margin-bottom: 4px;
}

button {
  width: 120px;
  margin-top: 16px;
}

input {
  margin-left: 12px;
}

p {
  margin-bottom: 16px;
  color: red;
}

.label {
  font-weight: 700;
  color: blue;
}